{% extends "master.html" %}

{% block content %} 

<form method="post" action="">
    <fieldset>
        <legend>Add Product</legend>
        <p>Name: <input type="text" name="name" /> </p>

        <table>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
            <tr>
                <td><input type="text" name="key[]" /></td>
                <td><input type="text" name="val[]" /></td>
            </tr>
        </table>
                
        <p><input type="submit" name="submit" value="Save" /></p>
    </fieldset>
</form>

{% endblock %}