{% extends "master.html" %}

{% block content %} 

    <div class="grid_4">
        
        <table class="bookListingGuide" width="100%" cellspacing="1" cellpadding="5">
            <tr><th>Campus</th></tr>
            <tr><td>


          <a href="">Ambler Campus                </a><br />
          <a href="">Center City Campus           </a><br />
          <a href="">Health Sciences Campus       </a><br />
          <a href="">Main Campus                  </a><br />
		
            
            </td></tr>
            
            <tr><th>Term</th></tr>
            <tr><td>

          <a href="">Fall 2010       </a><br />
          <a href="">Spring 2011                  </a><br />
            
            </td></tr>
            
            <tr><th>Department</th></tr>
            <tr><td>

<a href="">ACCT                 </a><br />
<a href="">ACT SCI              </a><br />
<a href="">ADVERTISIN           </a><br />
<a href="">AFR-AMER S           </a><br />
<a href="">AMER ST              </a><br />
<a href="">ANTHRO               </a><br />
<a href="">AOD                  </a><br />
<a href="">ARABIC               </a><br />
<a href="">ARCH                 </a><br />
<a href="">ART                  </a><br />
<a href="">ART ED               </a><br />
<a href="">ART H                </a><br />
<a href="">ASIA ST              </a><br />
<a href="">BIOLOGY              </a><br />
<a href="">BOTANY               </a><br />
<a href="">BTMM                 </a><br />
<a href="">BUS                  </a><br />
<a href="">BUS ADM              </a><br />
<a href="">BUS ED               </a><br />
<a href="">C+IN SC              </a><br />
<a href="">C+R PLN              </a><br />
<a href="">CAHP                 </a><br />
<a href="">CANCL CRSE 	ACCT    </a><br />
<a href="">ACT SCI              </a><br />
<a href="">ADVERTISIN           </a><br />
<a href="">AFR-AMER S           </a><br />
<a href="">AMER ST              </a><br />
<a href="">ANTHRO               </a><br />
<a href="">AOD                  </a><br />
<a href="">ARABIC               </a><br />
<a href="">ARCH                 </a><br />
<a href="">ART                  </a><br />
<a href="">ART ED               </a><br />
<a href="">ART H                </a><br />
<a href="">ASIA ST              </a><br />
<a href="">BIOLOGY              </a><br />
<a href="">BOTANY               </a><br />
<a href="">BTMM                 </a><br />
<a href="">BUS                  </a><br />
<a href="">BUS ADM              </a><br />
<a href="">BUS ED               </a><br />
<a href="">C+IN SC              </a><br />
<a href="">C+R PLN              </a><br />
<a href="">CAHP                 </a><br />
<a href="">CANCL CRSE           </a><br />
            
            </td></tr>
            
            <tr><th>Course</th></tr>
            <tr><td>

<a href="">1234                 </a><br />
<a href="">0192           </a><br />
<a href="">7361           </a><br />
<a href="">9025           </a><br />
<a href="">7891           </a><br />
<a href="">9447           </a><br />
<a href="">1383          </a><br />
<a href="">4467           </a><br />
            
            </td></tr>

        </table>
        
    </div>
    
    <div class="grid_12 bookListing">
        <div class="item">
            <div class="cover">
                <img src="content/upload/algo1.jpg" alt="" />
            </div>
            <div class="content">
                <p>
                    <a href="detail/1">Algorithms in a Nutshell [Paperback]</a><br />
                    Price: $31.49
                </p>
            </div>
        </div>
        
        <div class="item">
            <div class="cover">
                <img src="content/upload/algo2.jpg" alt="" />
            </div>
            <div class="content">
                <p>
                    <a href="detail/1">Algorithm Design [Hardcover]</a><br />
                    Price: $95.79
                </p>
            </div>
        </div>
        
        <div class="item">
            <div class="cover">
                <img src="content/upload/algo3.jpg" alt="" />
            </div>
            <div class="content">
                <p>
                    <a href="detail/1">Data Structures and Algorithms in Java [Hardcover]</a><br />
                    Price: $99.00
                </p>
            </div>
        </div>   
        
        <div class="item">
            <div class="cover">
                <img src="content/upload/eng1.jpg" alt="" />
            </div>
            <div class="content">
                <p>
                    <a href="detail/1">Security Engineering: A Guide to Building Dependable Distributed Systems [Hardcover]</a><br />
                    Price: $61.01
                </p>
            </div>
        </div>  
        
        <div class="item">
            <div class="cover">
                <img src="content/upload/math1.jpg" alt="" />
            </div>
            <div class="content">
                <p>
                    <a href="detail/1">Concrete Mathematics: A Foundation for Computer Science (2nd Edition) [Hardcover]</a><br />
                    Price: $62.39
                </p>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}